<!-- app/views/layouts/reset_password.html.erb -->
<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
  <title>Resetar sua senha</title>
</head>
<body>
  <h1>Resetar sua senha</h1>
  <p>Olá <%= @user.name %>,</p>
  <p>Sua nova senha é: <strong><%= @new_password %></strong></p>
  <p>Obrigado!</p>
</body>
</html>
